@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  isolation: isolate;
}

.txta {
  border-radius: 14px;
  border: 1px solid #dd74db;
  background: rgba(131, 77, 200, 0.26);
  height: 105px;
  align-self: stretch;
}

.humanmsg {
  border-radius: 16px;
  border: 1px solid rgba(242, 173, 241, 0.62);
  background: rgba(221, 116, 219, 0.32);
  backdrop-filter: blur(2px);
  padding: 10px 18px;

  gap: 10px;
  text-overflow: ellipsis;
}

.botmsg {
  padding: 10px 18px;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #834dc8;
  background: rgba(79, 53, 112, 0.53);
  backdrop-filter: blur(2px);
}

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.message-box {
  transition: opacity 0.3s ease;
}
